/* Form style */
input, textarea, select { font-size: 14px; font-family: "Lora", Georgia, "Times New Roman", Times, serif; color:#555; border:0; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; float:none; display:block; margin:0px; -webkit-appearance: none; background:none }
textarea { resize: none; }
#message { margin: 0; padding: 0px; z-index:200; height:auto; }
.error_message, #success_page { display: block; height:auto; color:#d31800; font-style:normal; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 12px; padding: 26px 60px 0px 0px; line-height:1.5 }
#success_page { color:#2b2b2b !important; padding:18px 20px 0 0px }
.loader { display:none; }
/* Form Element Styling */

.form-part { padding: 0; margin-top:-21px; }
.form-part > textarea, .form-part > .select, .form-part > input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]) {
 display: block;
 width: 100%;
 padding: 24px 0px 23px 0;
 border-bottom:1px dotted #555;
 text-align: left;
 font-style: normal;
}
/*.lt-ie9 .form-part textarea, .lt-ie9 .form-part select, .lt-ie9 .form-part input { display: block; width: 100%; padding: 25px 29px; font-size: 17px;  border-bottom:1px solid #d8d8d8; text-align: left; font-style: normal; }*/
.form-part > textarea { height: 110px; resize: none; }
.form-part > .input-wrapper { position: relative;  }
.form-part .send-btn { border: none 0px transparent; background: url(../images/bg-mail.png) no-repeat scroll top right transparent; background-size:48px 48px; padding: 19px 55px 16px 4px; height: 48px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 15px; display: block; width: auto; float: right; margin: 17px 25px 0px 0px; cursor: pointer; line-height:12px; font-style:italic; }
